## Manipulating and transforming DataFrames

In [1]:
import warnings

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display
from openbb import obb

In [3]:
warnings.filterwarnings("ignore")
obb.user.preferences.output_type = "dataframe"

Fetches historical price data for the equity "AAPL" using the "yfinance" provider and stores it in 'asset'

In [4]:
asset = obb.equity.price.historical("AAPL", provider="yfinance")

In [5]:
display(asset)

                  open        high         low       close    volume  dividend
date
2023-11-10  183.970001  186.570007  183.529999  186.399994  66133400      0.24
2023-11-13  185.820007  186.029999  184.210007  184.800003  43627500      0.00
2023-11-14  187.699997  188.110001  186.300003  187.440002  60108400      0.00
2023-11-15  187.850006  189.500000  187.779999  188.009995  53790500      0.00
2023-11-16  189.570007  190.960007  188.649994  189.710007  54412900      0.00
...                ...         ...         ...         ...       ...       ...
2024-11-04  220.990005  222.789993  219.710007  222.009995  44944500      0.00
2024-11-05  221.800003  223.949997  221.139999  223.449997  28111300      0.00
2024-11-06  222.610001  226.070007  221.190002  222.720001  54561100      0.00
2024-11-07  224.630005  227.880005  224.570007  227.479996  42137700      0.00
2024-11-08  227.169998  228.660004  226.410004  226.960007  38308700      0.25

[251 rows x 6 columns]

Fetches historical price data for the equity "SPY" using the "yfinance" provider and stores it in 'benchmark'

In [6]:
benchmark = obb.equity.price.historical("SPY", provider="yfinance")

In [7]:
display(benchmark)

                  open        high         low       close    volume  dividend
date
2023-11-10  435.980011  440.929993  433.829987  440.609985  89462200       0.0
2023-11-13  439.230011  441.329987  438.420013  440.190002  52236100       0.0
2023-11-14  446.320007  450.059998  446.089996  448.730011  97176900       0.0
2023-11-15  450.109985  451.380005  448.799988  449.679993  77327600       0.0
2023-11-16  449.220001  450.559998  448.119995  450.230011  66665800       0.0
...                ...         ...         ...         ...       ...       ...
2024-11-04  571.179993  572.500000  567.890015  569.809998  38217000       0.0
2024-11-05  570.739990  576.739990  570.520020  576.700012  39478300       0.0
2024-11-06  589.200012  591.929993  585.390015  591.039978  68182000       0.0
2024-11-07  593.080017  596.650024  593.000000  595.609985  47233200       0.0
2024-11-08  596.169983  599.640015  596.169983  598.190002  46399500       0.0

[251 rows x 6 columns]

Updates the column names for 'asset' and 'benchmark'

In [8]:
columns = [
    "open",
    "high",
    "low",
    "close",
    "volume",
    "dividends",
    "splits",
]

In [9]:
asset.columns = columns
benchmark.columns = columns + ["capital_gain"]

Adds a new column 'price_diff' that contains the difference in closing prices

In [9]:
asset["price_diff"] = asset.close.diff()
benchmark["price_diff"] = benchmark.close.diff()

Adds a new column 'gain' that indicates whether the price difference is positive

In [10]:
asset["gain"] = asset.price_diff > 0
benchmark["gain"] = benchmark.price_diff > 0

In [45]:
display(benchmark)

,open,high,low,close,volume,dividend,price_diff,gain,symbol
date,,,,,,,,,
2023-11-10,435.980011,440.929993,433.829987,440.609985,89462200,0.0,NaN,False,SPY
2023-11-13,439.230011,441.329987,438.420013,440.190002,52236100,0.0,-0.419983,False,SPY
2023-11-14,446.320007,450.059998,446.089996,448.730011,97176900,0.0,8.540009,True,SPY
2023-11-15,450.109985,451.380005,448.799988,449.679993,77327600,0.0,0.949982,True,SPY
2023-11-16,449.220001,450.559998,448.119995,450.230011,66665800,0.0,0.550018,True,SPY
...,...,...,...,...,...,...,...,...,...
2024-11-04,571.179993,572.500000,567.890015,569.809998,38217000,0.0,-1.229980,False,SPY
2024-11-05,570.739990,576.739990,570.520020,576.700012,39478300,0.0,6.890015,True,SPY
2024-11-06,589.200012,591.929993,585.390015,591.039978,68182000,0.0,14.339966,True,SPY
2024-11-07,593.080017,596.650024,593.000000,595.609985,47233200,0.0,4.570007,True,SPY
2024-11-08,596.169983,599.640015,596.169983,598.190002,46399500,0.0,2.580017,True,SPY

Adds a new column 'symbol' with the equity symbol

In [11]:
asset["symbol"] = "AAPL"
benchmark["symbol"] = "SPY"

Sets the volume of the 10th row to the mean volume of rows 5 to 9 in 'asset_2'

In [12]:
asset_2 = asset.copy()
asset_2.at[asset_2.index[10], "volume"] = asset_2.volume[asset_2.index[5:10]].mean()

In [13]:
asset_2.iat[10, 5]

0.0

In [14]:
display(benchmark)

,open,high,low,close,volume,dividend,price_diff,gain,symbol
date,,,,,,,,,
2023-11-10,435.980011,440.929993,433.829987,440.609985,89462200,0.0,NaN,False,SPY
2023-11-13,439.230011,441.329987,438.420013,440.190002,52236100,0.0,-0.419983,False,SPY
2023-11-14,446.320007,450.059998,446.089996,448.730011,97176900,0.0,8.540009,True,SPY
2023-11-15,450.109985,451.380005,448.799988,449.679993,77327600,0.0,0.949982,True,SPY
2023-11-16,449.220001,450.559998,448.119995,450.230011,66665800,0.0,0.550018,True,SPY
...,...,...,...,...,...,...,...,...,...
2024-11-04,571.179993,572.500000,567.890015,569.809998,38217000,0.0,-1.229980,False,SPY
2024-11-05,570.739990,576.739990,570.520020,576.700012,39478300,0.0,6.890015,True,SPY
2024-11-06,589.200012,591.929993,585.390015,591.039978,68182000,0.0,14.339966,True,SPY
2024-11-07,593.080017,596.650024,593.000000,595.609985,47233200,0.0,4.570007,True,SPY
2024-11-08,596.169983,599.640015,596.169983,598.190002,46399500,0.0,2.580017,True,SPY

Concatenates 'asset' and 'asset_2' and drops duplicates

In [15]:
df = pd.concat([asset, asset_2]).drop_duplicates()

Adds a new column 'returns' that contains the percentage change in closing prices

In [ ]:
asset["returns"] = asset["close"].pct_change()
benchmark["returns"] = benchmark["close"].pct_change()

In [47]:
display(asset)

,open,high,low,close,volume,dividend,price_diff,gain,symbol,returns
date,,,,,,,,,,
2023-11-10,183.970001,186.570007,183.529999,186.399994,66133400,0.24,NaN,False,AAPL,NaN
2023-11-13,185.820007,186.029999,184.210007,184.800003,43627500,0.00,-1.599991,False,AAPL,-0.008584
2023-11-14,187.699997,188.110001,186.300003,187.440002,60108400,0.00,2.639999,True,AAPL,0.014286
2023-11-15,187.850006,189.500000,187.779999,188.009995,53790500,0.00,0.569992,True,AAPL,0.003041
2023-11-16,189.570007,190.960007,188.649994,189.710007,54412900,0.00,1.700012,True,AAPL,0.009042
...,...,...,...,...,...,...,...,...,...,...
2024-11-04,220.990005,222.789993,219.710007,222.009995,44944500,0.00,-0.900009,False,AAPL,-0.004038
2024-11-05,221.800003,223.949997,221.139999,223.449997,28111300,0.00,1.440002,True,AAPL,0.006486
2024-11-06,222.610001,226.070007,221.190002,222.720001,54561100,0.00,-0.729996,False,AAPL,-0.003267
2024-11-07,224.630005,227.880005,224.570007,227.479996,42137700,0.00,4.759995,True,AAPL,0.021372
2024-11-08,227.169998,228.660004,226.410004,226.960007,38308700,0.25,-0.519989,False,AAPL,-0.002286

In [48]:
display(benchmark)

,open,high,low,close,volume,dividend,price_diff,gain,symbol,returns
date,,,,,,,,,,
2023-11-10,435.980011,440.929993,433.829987,440.609985,89462200,0.0,NaN,False,SPY,NaN
2023-11-13,439.230011,441.329987,438.420013,440.190002,52236100,0.0,-0.419983,False,SPY,-0.000953
2023-11-14,446.320007,450.059998,446.089996,448.730011,97176900,0.0,8.540009,True,SPY,0.019401
2023-11-15,450.109985,451.380005,448.799988,449.679993,77327600,0.0,0.949982,True,SPY,0.002117
2023-11-16,449.220001,450.559998,448.119995,450.230011,66665800,0.0,0.550018,True,SPY,0.001223
...,...,...,...,...,...,...,...,...,...,...
2024-11-04,571.179993,572.500000,567.890015,569.809998,38217000,0.0,-1.229980,False,SPY,-0.002154
2024-11-05,570.739990,576.739990,570.520020,576.700012,39478300,0.0,6.890015,True,SPY,0.012092
2024-11-06,589.200012,591.929993,585.390015,591.039978,68182000,0.0,14.339966,True,SPY,0.024866
2024-11-07,593.080017,596.650024,593.000000,595.609985,47233200,0.0,4.570007,True,SPY,0.007732
2024-11-08,596.169983,599.640015,596.169983,598.190002,46399500,0.0,2.580017,True,SPY,0.004332

Creates a pivot table from 'asset' with 'returns' as values, 'gain' as columns, and 'sum', 'mean', 'std' as aggregation functions

In [49]:
df = pd.pivot_table(
    data=asset, values="returns", columns="gain", aggfunc=["sum", "mean", "std"]
)

In [50]:
display(df)

              sum                mean                 std
gain        False     True      False     True      False     True
returns -1.172507  1.394409 -0.010196  0.010329  0.008957  0.010527

In [51]:
df = pd.pivot_table(
    data=benchmark, values="returns", columns="gain", aggfunc=["sum", "mean", "std"]
)
display(df)

             sum                mean                 std
gain       False     True      False     True      False     True
returns -0.57242  0.885817 -0.005782  0.005866  0.005657  0.004941

Concatenates 'asset' and 'benchmark' and groups by 'symbol' to calculate open, high, low, close (OHLC) prices

In [52]:
concated = pd.concat([asset, benchmark])

In [53]:
display(concated)

,open,high,low,close,volume,dividend,price_diff,gain,symbol,returns
date,,,,,,,,,,
2023-11-10,183.970001,186.570007,183.529999,186.399994,66133400,0.24,NaN,False,AAPL,NaN
2023-11-13,185.820007,186.029999,184.210007,184.800003,43627500,0.00,-1.599991,False,AAPL,-0.008584
2023-11-14,187.699997,188.110001,186.300003,187.440002,60108400,0.00,2.639999,True,AAPL,0.014286
2023-11-15,187.850006,189.500000,187.779999,188.009995,53790500,0.00,0.569992,True,AAPL,0.003041
2023-11-16,189.570007,190.960007,188.649994,189.710007,54412900,0.00,1.700012,True,AAPL,0.009042
...,...,...,...,...,...,...,...,...,...,...
2024-11-04,571.179993,572.500000,567.890015,569.809998,38217000,0.00,-1.229980,False,SPY,-0.002154
2024-11-05,570.739990,576.739990,570.520020,576.700012,39478300,0.00,6.890015,True,SPY,0.012092
2024-11-06,589.200012,591.929993,585.390015,591.039978,68182000,0.00,14.339966,True,SPY,0.024866
2024-11-07,593.080017,596.650024,593.000000,595.609985,47233200,0.00,4.570007,True,SPY,0.007732
2024-11-08,596.169983,599.640015,596.169983,598.190002,46399500,0.00,2.580017,True,SPY,0.004332

In [22]:
df = concated.groupby("symbol").close.ohlc()

In [23]:
display(df)

              open        high         low       close
symbol
AAPL    186.399994  236.479996  165.000000  226.960007
SPY     440.609985  598.190002  440.190002  598.190002

Fetches options chains for the symbol "AAPL" using the "cboe" provider and stores it in 'chains'

In [24]:
chains = obb.derivatives.options.chains("AAPL", provider="cboe")

In [25]:
display(chains)

,underlying_symbol,underlying_price,contract_symbol,expiration,dte,strike,option_type,open_interest,volume,theoretical_price,...,low,prev_close,change,change_percent,implied_volatility,delta,gamma,theta,vega,rho
0,AAPL,226.96,AAPL241115C00005000,2024-11-15,5,5.0,call,0,0,222.0311,...,0.00,222.600006,0.000,0.000000,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0006
1,AAPL,226.96,AAPL241115P00005000,2024-11-15,5,5.0,put,51,0,0.0027,...,0.00,0.005000,0.000,0.000000,8.4979,0.0000,0.0000,-0.0019,0.0000,0.0000
2,AAPL,226.96,AAPL241115C00010000,2024-11-15,5,10.0,call,0,0,217.0327,...,0.00,217.650002,0.000,0.000000,0.0000,0.9999,0.0000,0.0000,0.0001,-0.0008
3,AAPL,226.96,AAPL241115P00010000,2024-11-15,5,10.0,put,1,0,0.0033,...,0.00,0.005000,0.000,0.000000,6.8534,-0.0001,0.0000,-0.0023,0.0001,0.0000
4,AAPL,226.96,AAPL241115C00015000,2024-11-15,5,15.0,call,0,0,212.0351,...,0.00,212.625000,0.000,0.000000,7.4443,0.9999,0.0000,0.0000,0.0001,-0.0011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,AAPL,226.96,AAPL270115P00430000,2027-01-15,796,430.0,put,0,0,202.9700,...,0.00,202.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000
2196,AAPL,226.96,AAPL270115C00440000,2027-01-15,796,440.0,call,81,10,1.6950,...,1.70,1.715000,-0.015,-0.008746,0.2245,0.0614,0.0016,-0.0053,0.4220,0.2610
2197,AAPL,226.96,AAPL270115P00440000,2027-01-15,796,440.0,put,0,0,212.9700,...,0.00,212.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000
2198,AAPL,226.96,AAPL270115C00450000,2027-01-15,796,450.0,call,3005,184,1.4966,...,1.42,1.475000,0.035,0.023729,0.2248,0.0549,0.0015,-0.0049,0.3880,0.2338
2199,AAPL,226.96,AAPL270115P00450000,2027-01-15,796,450.0,put,0,0,222.9700,...,0.00,222.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000

Extracts unique expiration dates from 'chains'

In [26]:
expirations = chains.expiration.unique()

In [27]:
display(expirations)

array([datetime.date(2024, 11, 15), datetime.date(2024, 11, 22),
       datetime.date(2024, 11, 29), datetime.date(2024, 12, 6),
       datetime.date(2024, 12, 13), datetime.date(2024, 12, 20),
       datetime.date(2024, 12, 27), datetime.date(2025, 1, 17),
       datetime.date(2025, 2, 21), datetime.date(2025, 3, 21),
       datetime.date(2025, 4, 17), datetime.date(2025, 6, 20),
       datetime.date(2025, 8, 15), datetime.date(2025, 9, 19),
       datetime.date(2025, 12, 19), datetime.date(2026, 1, 16),
       datetime.date(2026, 6, 18), datetime.date(2026, 12, 18),
       datetime.date(2027, 1, 15)], dtype=object)

Filters 'chains' to get call options expiring on the 6th expiration date and stores it in 'calls'

In [28]:
calls = chains[(chains.option_type == "call") & (chains.expiration == expirations[5])]

Filters 'chains' to get put options expiring on the 6th expiration date and stores it in 'puts'

In [29]:
puts = chains[(chains.option_type == "put") & (chains.expiration == expirations[5])]

Sets the index of 'calls' and 'puts' to 'strike'

In [30]:
calls_strike = calls.set_index("strike")
puts_strike = puts.set_index("strike")

Joins 'calls_strike' and 'puts_strike' on the 'strike' index with a left join, adding suffixes to overlapping column names

In [31]:
joined = calls_strike.join(puts_strike, how="left", lsuffix="_call", rsuffix="_put")

In [32]:
display(joined)

,underlying_symbol_call,underlying_price_call,contract_symbol_call,expiration_call,dte_call,option_type_call,open_interest_call,volume_call,theoretical_price_call,last_trade_price_call,...,low_put,prev_close_put,change_put,change_percent_put,implied_volatility_put,delta_put,gamma_put,theta_put,vega_put,rho_put
strike,,,,,,,,,,,,,,,,,,,,,
5.0,AAPL,226.96,AAPL241220C00005000,2024-12-20,40,call,3,17,222.1152,222.72,...,0.0,0.005000,0.0,0.0,3.4788,-0.0001,0.0,-0.0010,0.0002,0.0000
10.0,AAPL,226.96,AAPL241220C00010000,2024-12-20,40,call,0,1,217.1455,217.00,...,0.0,0.005000,0.0,0.0,2.8064,-0.0001,0.0,-0.0013,0.0004,0.0000
15.0,AAPL,226.96,AAPL241220C00015000,2024-12-20,40,call,0,0,212.1752,0.00,...,0.0,0.005000,0.0,0.0,2.4270,-0.0002,0.0,-0.0015,0.0005,-0.0001
20.0,AAPL,226.96,AAPL241220C00020000,2024-12-20,40,call,0,0,207.2047,0.00,...,0.0,0.005000,0.0,0.0,2.1633,-0.0002,0.0,-0.0017,0.0006,-0.0001
25.0,AAPL,226.96,AAPL241220C00025000,2024-12-20,40,call,0,0,202.2340,0.00,...,0.0,0.005000,0.0,0.0,1.9614,-0.0003,0.0,-0.0018,0.0008,-0.0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325.0,AAPL,226.96,AAPL241220C00325000,2024-12-20,40,call,18,0,0.0104,0.01,...,0.0,97.449997,0.0,0.0,0.0000,-1.0000,0.0,-0.0319,0.0000,0.0000
330.0,AAPL,226.96,AAPL241220C00330000,2024-12-20,40,call,1659,0,0.0094,0.01,...,0.0,102.375000,0.0,0.0,0.0000,-1.0000,0.0,-0.0319,0.0000,0.0000
335.0,AAPL,226.96,AAPL241220C00335000,2024-12-20,40,call,33,0,0.0085,0.02,...,0.0,107.450001,0.0,0.0,0.0000,-1.0000,0.0,-0.0319,0.0000,0.0000
340.0,AAPL,226.96,AAPL241220C00340000,2024-12-20,40,call,1053,0,0.0077,0.01,...,0.0,112.375000,0.0,0.0,0.0000,-1.0000,0.0,-0.0319,0.0000,0.0000
350.0,AAPL,226.96,AAPL241220C00350000,2024-12-20,40,call,7397,0,0.0064,0.02,...,0.0,122.400002,0.0,0.0,0.0000,-1.0000,0.0,-0.0319,0.0000,0.0000

Extracts the last trade prices of call and put options and stores them in 'prices'

In [33]:
prices = joined[["last_trade_price_call", "last_trade_price_put"]]

In [34]:
display(prices)

        last_trade_price_call  last_trade_price_put
strike
5.0                    222.72                  0.00
10.0                   217.00                  0.00
15.0                     0.00                  0.00
20.0                     0.00                  0.00
25.0                     0.00                  0.01
...                       ...                   ...
325.0                    0.01                  0.00
330.0                    0.01                101.43
335.0                    0.02                  0.00
340.0                    0.01                  0.00
350.0                    0.02                122.50

[69 rows x 2 columns]

Adds a new column 'straddle_price' that contains the sum of last trade prices of call and put options

In [35]:
prices.loc[:, "straddle_price"] = prices.sum(axis=1)

In [36]:
display(prices)

        last_trade_price_call  last_trade_price_put  straddle_price
strike
5.0                    222.72                  0.00          222.72
10.0                   217.00                  0.00          217.00
15.0                     0.00                  0.00            0.00
20.0                     0.00                  0.00            0.00
25.0                     0.00                  0.01            0.01
...                       ...                   ...             ...
325.0                    0.01                  0.00            0.01
330.0                    0.01                101.43          101.44
335.0                    0.02                  0.00            0.02
340.0                    0.01                  0.00            0.01
350.0                    0.02                122.50          122.52

[69 rows x 3 columns]

Groups 'chains' by option type, strike, and expiration to calculate the sum of open interest

In [37]:
df = chains.groupby(["option_type", "strike", "expiration"]).open_interest.sum()

In [38]:
display(df)

option_type  strike  expiration
call         5.0     2024-11-15      0
                     2024-12-20      3
                     2025-01-17     14
                     2025-03-21      2
                     2025-06-20    871
                                  ...
put          430.0   2027-01-15      0
             440.0   2026-12-18      0
                     2027-01-15      0
             450.0   2026-12-18      0
                     2027-01-15      0
Name: open_interest, Length: 2200, dtype: int64

Groups 'chains' by option type, strike, and expiration to calculate the max last trade price and the sum of open interest

In [39]:
df = chains.groupby(["option_type", "strike", "expiration"]).agg(
    {"last_trade_price": "max", "open_interest": "sum"}
)

In [40]:
display(df)

                               last_trade_price  open_interest
option_type strike expiration
call        5.0    2024-11-15              0.00              0
                   2024-12-20            222.72              3
                   2025-01-17            222.55             14
                   2025-03-21            223.44              2
                   2025-06-20            222.66            871
...                                         ...            ...
put         430.0  2027-01-15            192.90              0
            440.0  2026-12-18              0.00              0
                   2027-01-15            212.55              0
            450.0  2026-12-18            221.25              0
                   2027-01-15              0.00              0

[2200 rows x 2 columns]

Groups 'chains' by option type and calculates the mean bid-ask spread for each group

In [41]:
df = chains.groupby(["option_type"]).apply(
    lambda x: (x["ask"] - x["bid"]).mean()
)

In [42]:
display(df)

option_type
call    1.210918
put     0.624264
dtype: float64

Standardizes the last trade prices by subtracting the mean and dividing by the standard deviation within each expiration group

In [43]:
(
    chains.groupby("expiration").last_trade_price.transform(
        lambda x: (x - x.mean()) / x.std()
    )
)

0      -0.575625
1      -0.575625
2       3.469296
3      -0.575439
4       3.384678
          ...
2195    2.260506
2196   -0.726046
2197    2.567440
2198   -0.729014
2199   -0.752600
Name: last_trade_price, Length: 2200, dtype: float64

In [44]:
display(chains)

,underlying_symbol,underlying_price,contract_symbol,expiration,dte,strike,option_type,open_interest,volume,theoretical_price,...,low,prev_close,change,change_percent,implied_volatility,delta,gamma,theta,vega,rho
0,AAPL,226.96,AAPL241115C00005000,2024-11-15,5,5.0,call,0,0,222.0311,...,0.00,222.600006,0.000,0.000000,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0006
1,AAPL,226.96,AAPL241115P00005000,2024-11-15,5,5.0,put,51,0,0.0027,...,0.00,0.005000,0.000,0.000000,8.4979,0.0000,0.0000,-0.0019,0.0000,0.0000
2,AAPL,226.96,AAPL241115C00010000,2024-11-15,5,10.0,call,0,0,217.0327,...,0.00,217.650002,0.000,0.000000,0.0000,0.9999,0.0000,0.0000,0.0001,-0.0008
3,AAPL,226.96,AAPL241115P00010000,2024-11-15,5,10.0,put,1,0,0.0033,...,0.00,0.005000,0.000,0.000000,6.8534,-0.0001,0.0000,-0.0023,0.0001,0.0000
4,AAPL,226.96,AAPL241115C00015000,2024-11-15,5,15.0,call,0,0,212.0351,...,0.00,212.625000,0.000,0.000000,7.4443,0.9999,0.0000,0.0000,0.0001,-0.0011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,AAPL,226.96,AAPL270115P00430000,2027-01-15,796,430.0,put,0,0,202.9700,...,0.00,202.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000
2196,AAPL,226.96,AAPL270115C00440000,2027-01-15,796,440.0,call,81,10,1.6950,...,1.70,1.715000,-0.015,-0.008746,0.2245,0.0614,0.0016,-0.0053,0.4220,0.2610
2197,AAPL,226.96,AAPL270115P00440000,2027-01-15,796,440.0,put,0,0,212.9700,...,0.00,212.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000
2198,AAPL,226.96,AAPL270115C00450000,2027-01-15,796,450.0,call,3005,184,1.4966,...,1.42,1.475000,0.035,0.023729,0.2248,0.0549,0.0015,-0.0049,0.3880,0.2338
2199,AAPL,226.96,AAPL270115P00450000,2027-01-15,796,450.0,put,0,0,222.9700,...,0.00,222.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0284,0.0000,0.0000

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.